<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow-sm border-0 section-card">
            <div class="card-header blue-header">
                Patient Information
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name </label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="procedure.patient.name"
                            #name="ngModel" name="name" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="nationalId" class="form-label">National ID</label>
                        <input type="text" class="form-control" id="nationalId"
                            [(ngModel)]="procedure.patient.nationalId" #nationalId="ngModel" name="nationalId" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber"
                            [(ngModel)]="procedure.patient.phoneNumber" #phoneNumber="ngModel" name="phoneNumber"
                            disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="age" class="form-label">Age</label>
                        <input type="text" class="form-control" id="age" [(ngModel)]="procedure.patient.age"
                            #age="ngModel" name="age" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandName" class="form-label">Husband's Name</label>
                        <input type="text" class="form-control" id="husbandName"
                            [(ngModel)]="procedure.patient.husbandName" #husbandname="ngModel" name="husbandname"
                            disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandNationalId" class="form-label">Husband's ID</label>
                        <input type="text" class="form-control" id="husbandId"
                            [(ngModel)]="procedure.patient.husbandNationalId" #husbandNationalId="ngModel"
                            name="husbandNationalId" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandPhoneNumber" class="form-label">Husband Phone Number</label>
                        <input type="text" class="form-control" id="husbandPhoneNumber"
                            [(ngModel)]="procedure.patient.husbandPhoneNumber" #husbandPhoneNumber="ngModel"
                            name="husbandPhoneNumber" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow-sm border-0 section-card">
            <div class="card-header blue-header">
                Physician & Embryologist Information
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="physician" class="form-label">Physician</label>
                        <input type="text" class="form-control" id="physician" [(ngModel)]="procedure.physician.name"
                            #physician="ngModel" name="physician" disabled>
                    </div>                    
                    <div class="col-md-6">
                        <label for="embryologist" class="form-label">Embryologist</label>
                        <input type="text" class="form-control" id="physician" [(ngModel)]="procedure.embryologist.name"
                            #embryologist="ngModel" name="embryologist" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white ">
        Patient Clinical History
      </div>
      <table class="table  custom-table">
        <thead class="table-light">
          <tr>
            <th>Parameter</th>
            <th>Results</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label-cell ">Last Semen Analysis Parameters</td>
            <td>
              <textarea class="form-control" rows="2" [(ngModel)]="procedure.values['lastSemenAnalysisParameters']"
                name="lastSemenAnalysisParameters" #lastSemenAnalysisParameters="ngModel"
                placeholder="Volume, count, motility, morphology..."></textarea>
            </td>
          </tr>

          <tr>
            <td class="label-cell ">Previous Presence of Sperms in Semen</td>
            <td>
              <select class="form-select" [(ngModel)]="procedure.values['previousPresenceOfSperms']"
                name="previousPresenceOfSperms" #previousPresenceOfSperms="ngModel">
                <option value="Yes - Normozoospermia">Yes - Normozoospermia</option>
                <option value="Yes - Oligozoospermia">Yes - Oligozoospermia</option>
                <option value="Yes - Asthenozoospermia">Yes - Asthenozoospermia</option>
                <option value="No - Azoospermia">No - Azoospermia</option>
              </select>
            </td>
          </tr>

          <tr>
            <td class="label-cell ">Previous Sperm Retrieval Operations/Results</td>
            <td>
              <textarea class="form-control" rows="2" [(ngModel)]="procedure.values['previousSpermRetrievalResults']"
                name="previousSpermRetrievalResults" #previousSpermRetrievalResults="ngModel"
                placeholder="Previous TESA/TESE, findings..."></textarea>
            </td>
          </tr>

          <tr>
            <td class="label-cell">Other Clinical Data</td>
            <td>
              <textarea class="form-control" rows="2" [(ngModel)]="procedure.values['otherClinicalData']"
                name="otherClinicalData"
                placeholder="Hormonal profile, genetic testing, testicular volume..."></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white ">
        Macroscopic Examination
      </div>
      <table class="table  custom-table">
        <thead class="table-light">
          <tr>
            <th>Parameter</th>
            <th>Results</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label-cell ">Number of Aspirations/Biopsies</td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="procedure.values['numberOfAspirationsBiopsies']"
                name="numberOfAspirationsBiopsies" #numberOfAspirationsBiopsies="ngModel">
            </td>
          </tr>

          <tr>
            <td class="label-cell ">Tissue Appearance</td>
            <td>
              <textarea class="form-control" rows="2" [(ngModel)]="procedure.values['tissueAppearance']"
                name="tissueAppearance" #tissueAppearance="ngModel"
                placeholder="Color, consistency, seminiferous tubules presence..."></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white ">
        Microscopic Examination
      </div>
      <table class="table  custom-table">
        <thead class="table-light">
          <tr>
            <th>Parameter</th>
            <th>Results</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label-cell ">Spermatozoa Found</td>
            <td>
              <select class="form-select" [(ngModel)]="procedure.values['spermatozoaFound']" name="spermatozoaFound"
                #spermatozoaFound="ngModel">
                <option value="Yes - Numerous">Yes - Numerous</option>
                <option value="Yes - Few">Yes - Few</option>
                <option value="Yes - Rare">Yes - Rare</option>
                <option value="No - Absent">No - Absent</option>
              </select>
            </td>
          </tr>

          <tr>
            <td class="label-cell ">Sperm Count (per HPF/µL)</td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="procedure.values['spermCount']" name="spermCount"
                #spermCount="ngModel" placeholder="e.g., 5-10/HPF">
            </td>
          </tr>

          <tr>
            <td class="label-cell ">Sperm Motility</td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="procedure.values['spermMotility']"
                name="spermMotility" #spermMotility="ngModel" placeholder="Progressive, Non-progressive, Immotile">
            </td>
          </tr>

          <tr>
            <td class="label-cell ">Sperm Morphology</td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="procedure.values['spermMorphology']"
                name="spermMorphology" #spermMorphology="ngModel" placeholder="Normal forms %">
            </td>
          </tr>

          <tr>
            <td class="label-cell">Other Cellular Findings</td>
            <td>
              <textarea class="form-control" rows="2" [(ngModel)]="procedure.values['otherCellularFindings']"
                name="otherCellularFindings" placeholder="Germ cells, Sertoli cells, debris..."></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white ">
        Sperm Freezing & Cryopreservation
      </div>
      <table class="table  custom-table">
        <thead class="table-light">
          <tr>
            <th>Parameter</th>
            <th>Results</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="label-cell ">Sperm Freezing Performed</td>
            <td>
              <select class="form-select" [(ngModel)]="procedure.values['spermFreezingPerformed']"
                name="spermFreezingPerformed" #spermFreezingPerformed="ngModel">
                <option value="Yes - Frozen">Yes - Frozen</option>
                <option value="No - Not Frozen">No - Not Frozen</option>
                <option value="Yes - Cryopreserved for future ICSI">Yes - Cryopreserved for future ICSI</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-12">
    <label class="form-label">Comment</label>
    <textarea #commentBox class="form-control" id="comment" name="comment"
      [(ngModel)]="procedure.values['comment']"></textarea>
  </div>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white ">
        Signatures & Attestation
      </div>
      <div class="row g-3 mb-2">
        <div class="col-md-12">
          <table class="table  custom-table">
            <thead class="table-light">
              <tr>
                <th>Role</th>
                <th>Name</th>
                <th>Signature</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Embryologist</td>
                <td>
                  <select class="form-select" [(ngModel)]="procedure.values['embryologist']" name="embryologistSignature"
                    #embryologistSignature="ngModel" [compareWith]="compareObjects">
                    <option *ngFor="let p of embryologists()" [ngValue]="p">
                      {{ p.name }}
                    </option>
                  </select>
                </td>
                <td>
                </td>
              </tr>

              <tr>
                <td>Witness</td>
                <td>
                  <select class="form-select" [(ngModel)]="procedure.values['witness']" name="witnessSignature"
                    #witnessSignature="ngModel" [compareWith]="compareObjects">
                    <option *ngFor="let p of embryologists()" [ngValue]="p">
                      {{ p.name }}
                    </option>
                  </select>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>