<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" (click)="isNavbarOpend = !isNavbarOpend">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="isNavbarOpend">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" (click)="openChangePasswordModal()">Change password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>                
            </ul>
        </div>
    </div>
</nav>

<ng-template #changePasswordTemplate let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()" novalidate>
        <div class="modal-body">
            <div class="row g-3 mt-3">
                <div class="col-md-6">
                    <label for="currentPassword" class="form-label" required="true">current Password</label>
                    <input type="text" class="form-control" id="oldPassword" [(ngModel)]="user.password"
                        #currentPassword="ngModel" name="currentPassword" required>
                    <div class="error mt-1" *ngIf="currentPassword.invalid && currentPassword.touched">
                        This field is required
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="newPassword" class="form-label" required="true">New Password</label>
                    <input type="text" class="form-control" id="newPassword" [(ngModel)]="user.newPassword"
                        #newPassword="ngModel" name="nationalId" required>
                    <div class="error mt-1" *ngIf="newPassword.invalid && newPassword.touched">
                        This field is required
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="confirmPassword" class="form-label" required="true">Confirm Password</label>
                    <input type="text" class="form-control" id="confirmPassword" [(ngModel)]="confirmedPassword"
                        #confirmPassword="ngModel" name="confirmPassword" required>
                    <div class="error mt-1" *ngIf="confirmPassword.invalid && confirmPassword.touched">
                        This field is required
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-secondary"
                [disabled]="changePasswordForm.invalid">Update</button>
        </div>
    </form>
</ng-template>

<ng-template #messageTemplate let-modal>
    <div class="modal-body message">
        <div class="row mt-3 text-center">
            <p>{{messageText}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('close click')">Close</button>
    </div>
</ng-template>