<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow-sm border-0 section-card">
            <div class="card-header blue-header">
                Patient Information
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name </label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="procedure.patient.name"
                            #name="ngModel" name="name" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="nationalId" class="form-label">National ID</label>
                        <input type="text" class="form-control" id="nationalId"
                            [(ngModel)]="procedure.patient.nationalId" #nationalId="ngModel" name="nationalId" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber"
                            [(ngModel)]="procedure.patient.phoneNumber" #phoneNumber="ngModel" name="phoneNumber"
                            disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="age" class="form-label">Age</label>
                        <input type="text" class="form-control" id="age" [(ngModel)]="procedure.patient.age"
                            #age="ngModel" name="age" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandName" class="form-label">Husband's Name</label>
                        <input type="text" class="form-control" id="husbandName"
                            [(ngModel)]="procedure.patient.husbandName" #husbandname="ngModel" name="husbandname"
                            disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandNationalId" class="form-label">Husband's ID</label>
                        <input type="text" class="form-control" id="husbandId"
                            [(ngModel)]="procedure.patient.husbandNationalId" #husbandNationalId="ngModel"
                            name="husbandNationalId" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandPhoneNumber" class="form-label">Husband Phone Number</label>
                        <input type="text" class="form-control" id="husbandPhoneNumber"
                            [(ngModel)]="procedure.patient.husbandPhoneNumber" #husbandPhoneNumber="ngModel"
                            name="husbandPhoneNumber" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow-sm border-0 section-card">
            <div class="card-header blue-header">
                Physician & Embryologist Information
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="physician" class="form-label">Physician</label>
                        <input type="text" class="form-control" id="physician" [(ngModel)]="procedure.physician.name"
                            #physician="ngModel" name="physician" disabled>
                    </div>                    
                    <div class="col-md-6">
                        <label for="embryologist" class="form-label">Embryologist</label>
                        <input type="text" class="form-control" id="physician" [(ngModel)]="procedure.embryologist.name"
                            #embryologist="ngModel" name="embryologist" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <div class="card shadow-sm border-0 section-card">
      <div class="card-header blue-header">Macroscopic Examination</div>
      <table class="table  custom-table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Result</th>
            <th>Normal Range</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Period of abstinence</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['periodOfAbstinence']" name="periodOfAbstinence"
                #periodOfAbstinence="ngModel">
            </td>
            <td>2-7 days</td>
          </tr>

          <tr>
            <td>Appearance</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['appearance']" name="appearance"
                #appearance="ngModel">
            </td>
            <td>Normal</td>
          </tr>

          <tr>
            <td>pH</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['ph']" name="ph" #ph="ngModel">
            </td>
            <td>≥ 7.2</td>
          </tr>

          <tr>
            <td>Volume (ml)</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['volume']" name="volume" #volume="ngModel">
            </td>
            <td>≥ 1.4 ml</td>
          </tr>

          <tr>
            <td>Liquefaction time</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['liquefactionTime']" name="liquefactionTime"
                #liquefactionTime="ngModel">
            </td>
            <td>≤ 60 min</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card shadow-sm border-0 section-card">
      <div class="card-header blue-header">Motility Study</div>
      <table class="table  custom-table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Result</th>
            <th>Normal Range</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Motility %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['totalMotility']" name="totalMotility"
                #totalMotility="ngModel">
            </td>
            <td>≥ 42%</td>
          </tr>

          <tr>
            <td>Progressive motility %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['progressiveMotility']"
                name="progressiveMotility" #progressiveMotility="ngModel">
            </td>
            <td>≥ 30%</td>
          </tr>

          <tr>
            <td>Rapid %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['rapid']" name="rapid" #rapid="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Slow %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['slow']" name="slow" #slow="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Non-progressive %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['nonProgressive']" name="nonProgressive"
                #nonProgressive="ngModel">
            </td>
            <td>-</td>
          </tr>
          <tr>
            <td>Immotility %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['immotility']" name="immotility"
                #immotility="ngModel">
            </td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <div class="card shadow-sm border-0 section-card">
      <div class="card-header blue-header">Microscopic Examination</div>
      <table class="table  custom-table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Result</th>
            <th>Normal Range</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sperm count (million/ml)</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['spermCountMillionMl']"
                name="spermCountMillionMl" #spermCountMillionMl="ngModel">
            </td>
            <td>≥ 16 million/ml</td>
          </tr>

          <tr>
            <td>Total sperm count</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['totalSpermCount']" name="totalSpermCount"
                #totalSpermCount="ngModel">
            </td>
            <td>≥ 39 million</td>
          </tr>

          <tr>
            <td>WBCs</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['wbcs']" name="wbcs" #wbcs="ngModel">
            </td>
            <td>&lt; 1M</td>
          </tr>

          <tr>
            <td>RBCs</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['rbcs']" name="rbcs" #rbcs="ngModel">
            </td>
            <td>None</td>
          </tr>

          <tr>
            <td>Epithelial Cells</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['epithelialCells']" name="epithelialCells"
                #epithelialCells="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Others</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['othersMicroscopic']" name="othersMicroscopic"
                #othersMicroscopic="ngModel">
            </td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card shadow-sm border-0 section-card">
      <div class="card-header blue-header">Morphology Study</div>
      <table class="table  custom-table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Result</th>
            <th>Normal Range</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Normal Morphology (%)</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['normalMorphology']" name="normalMorphology"
                #normalMorphology="ngModel">
            </td>
            <td>≥ 4%</td>
          </tr>

          <tr>
            <td>Abnormal Morphology (%)</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['abnormalMorphology']" name="abnormalMorphology"
                #abnormalMorphology="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Abnormal Head %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['abnormalHead']" name="abnormalHead"
                #abnormalHead="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Abnormal Mid Piece %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['abnormalMidPiece']" name="abnormalMidPiece"
                #abnormalMidPiece="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Abnormal tail %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['abnormalTail']" name="abnormalTail"
                #abnormalTail="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Cytoplasmic droplet %</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['cytoplasmicDroplet']" name="cytoplasmicDroplet"
                #cytoplasmicDroplet="ngModel">
            </td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <div class="card shadow-sm border-0 section-card">
      <div class="card-header blue-header">Post Preparation</div>
      <table class="table  custom-table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Result</th>
            <th>Method</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Method</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['postPreparationMethod']"
                name="postPreparationMethod" #postPreparationMethod="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Volume (ml)</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['postPreparationVolume']"
                name="postPreparationVolume" #postPreparationVolume="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Count (million)</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['postPreparationCount']"
                name="postPreparationCount" #postPreparationCount="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Motility (%)</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['postPreparationMotility']"
                name="postPreparationMotility" #postPreparationMotility="ngModel">
            </td>
            <td>-</td>
          </tr>

          <tr>
            <td>Progressive motility (%)</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['postPreparationProgressiveMotility']"
                name="postPreparationProgressiveMotility" #postPreparationProgressiveMotility="ngModel">
            </td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <label class="form-label">Comment</label>
    <textarea #commentBox class="form-control" id="comment" name="comment"
      [(ngModel)]="procedure.values['comment']"></textarea>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <button type="button" class="btn btn-outline-secondary" (click)="generate(procedure.values)">Automated
      Interpretation</button>
    <p class="mt-3">
      {{procedure.values['aiInterpretation']}}
    </p>
  </div>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white ">
        Signatures & Attestation
      </div>
      <div class="row g-3 mb-2">
        <div class="col-md-12">
          <table class="table  custom-table">
            <thead class="table-light">
              <tr>
                <th>Role</th>
                <th>Name</th>
                <th>Signature</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Embryologist</td>
                <td>
                  <select class="form-select" [(ngModel)]="procedure.values['embryologist']"
                    name="embryologistSignature" #embryologistSignature="ngModel" [compareWith]="compareObjects">
                    <option *ngFor="let p of embryologists()" [ngValue]="p">
                      {{ p.name }}
                    </option>
                  </select>
                </td>
                <td>
                </td>
              </tr>

              <tr>
                <td>Witness</td>
                <td>
                  <select class="form-select" [(ngModel)]="procedure.values['witness']" name="witnessSignature"
                    #witnessSignature="ngModel" [compareWith]="compareObjects">
                    <option *ngFor="let p of embryologists()" [ngValue]="p">
                      {{ p.name }}
                    </option>
                  </select>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>