<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
        <button ngbNavLink>Search</button>
        <ng-template ngbNavContent>
            <div class="row g-3 mt-5">
                <div class="col-md-6">
                    <label for="name" class="form-label">QR Code </label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="procedureForSearch.id"
                        placeholder="Scan QR code here">
                </div>
                <div class="col-md-6">
                    <label for="name" class="form-label">Name </label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="procedureForSearch.patient.name">
                </div>
                <div class="col-md-6">
                    <label for="nationalId" class="form-label">National ID</label>
                    <input type="text" class="form-control" id="nationalId"
                        [(ngModel)]="procedureForSearch.patient.nationalId">
                </div>
                <div class="col-md-6">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber"
                        [(ngModel)]="procedureForSearch.patient.phoneNumber">
                </div>
                <div class="col-md-6">
                    <label for="husbandName" class="form-label">Husband's Name</label>
                    <input type="text" class="form-control" id="husbandName"
                        [(ngModel)]="procedureForSearch.patient.husbandName">
                </div>
                <div class="col-md-6">
                    <label for="husbandId" class="form-label">Husband's ID</label>
                    <input type="text" class="form-control" id="husbandId"
                        [(ngModel)]="procedureForSearch.patient.husbandNationalId">
                </div>
                <div class="col-md-6">
                    <label for="husbandNumber" class="form-label">Husband's Phone Number</label>
                    <input type="text" class="form-control" id="husbandNumber"
                        [(ngModel)]="procedureForSearch.patient.husbandPhoneNumber">
                </div>
                <div class="col-md-6">
                    <label for="procedureType" class="form-label">Procedure Type</label>
                    <select class="form-select" [(ngModel)]="procedureForSearch.procedureType" name="procedureType"
                        #procedureType="ngModel" required [compareWith]="compareObjects">
                        <option *ngFor="let p of procedureTypes()" [ngValue]="p">
                            {{ p.name }}
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" [(ngModel)]="procedureForSearch.status" name="status" #status="ngModel"
                        required [compareWith]="compareObjects">
                        <option value="Created">
                            Created
                        </option>
                        <option value="In Progress">
                            In Progress
                        </option>
                        <option value="Completed">
                            Completed
                        </option>
                    </select>
                </div>
                <div class="col-md-12">

                    <label class="form-label">
                        Date Search
                    </label>

                    <div class="input-group">

                        <span class="input-group-text">
                            <i class="fa-solid fa-calendar-days"></i>
                        </span>

                        <select class="form-select" [(ngModel)]="procedureForSearch.dateSearchType"
                            name="dateSearchType">

                            <option value="">
                                Select Date Type
                            </option>

                            <option value="createdDate">
                                Created Date
                            </option>

                            <option value="scheduledDate">
                                Scheduled Date
                            </option>

                        </select>

                        <span class="input-group-text">
                            From
                        </span>

                        <input type="date" class="form-control" [(ngModel)]="procedureForSearch.fromDate"
                            name="fromDate" [disabled]="!procedureForSearch.dateSearchType">

                        <span class="input-group-text">
                            To
                        </span>

                        <input type="date" class="form-control" [(ngModel)]="procedureForSearch.toDate" name="toDate"
                            [disabled]="!procedureForSearch.dateSearchType">

                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <button class="btn me-1" (click)="searchForProcedures()">
                        Search
                    </button>
                    <button class="btn" (click)="reset()">
                        Reset
                    </button>
                </div>
            </div>
            <div class="row mt-5">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Physician</th>
                            <th>Patient's Name</th>
                            <th>Patient's National ID</th>
                            <th>Patient's Phone Number</th>
                            <th>Created Date</th>
                            <th>Modified Date</th>
                            <th>Scheduled Date</th>
                            <th>Notes</th>
                            <th *ngIf="role == 'Coordinator'">Payment Status</th>
                            <th>Status</th>
                            <th *ngIf="role == 'Coordinator' || role == 'Embryologist'">Edit</th>
                            <th *ngIf="role == 'Coordinator' || role == 'Physician'">Delete</th>
                            <th *ngIf="role == 'Coordinator'">Print Worksheet</th>
                            <th *ngIf="role == 'Coordinator' || role == 'Embryologist'">Print Labels</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of procedures()">
                            <td data-label="ID">PE-{{p.id}}</td>
                            <td data-label="Name">{{p.procedureType.name}}</td>
                            <td data-label="Physician">{{p.physician == null ? '' : p.physician.name}}</td>
                            <td data-label="Patient's Name">{{p.patient.name}}</td>
                            <td data-label="Patient's National ID">{{p.patient.nationalId}}</td>
                            <td data-label="Patient's Phone Number">{{p.patient.phoneNumber}}</td>
                            <td data-label="Created Date">{{p.createdDate | date:'dd MMM yyyy, HH:mm' }}</td>
                            <td data-label="Modified Date">{{p.modifiedDate | date:'dd MMM yyyy, HH:mm' }}</td>
                            <td data-label="Scheduled Date">{{p.scheduledDate | date:'dd MMM yyyy, HH:mm' }}</td>
                            <td data-label="Notes">{{p.notes}}</td>
                            <td *ngIf="role == 'Coordinator'" data-label="Payment Status">{{p.paymentStatus}}</td>
                            <td data-label="Status">
                                <span class="status-badge"
                                    [ngClass]="{'status1': p.status === 'Created','status2': p.status === 'In Progress','status3': p.status === 'Completed'}">
                                    {{ p.status }}
                                </span>
                            </td>
                            <td *ngIf="role == 'Coordinator' || role == 'Embryologist'" data-label="Edit"
                                class="text-center cursor-pointer">
                                <a (click)="openEditModal(p)">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td *ngIf="role == 'Coordinator' || role == 'Physician'" data-label="Delete"
                                class="text-center cursor-pointer">
                                <a (click)="deleteProcedure(p)">
                                    <i class="fa-solid fa-eraser"></i>
                                </a>
                            </td>
                            <td *ngIf="role == 'Coordinator'" data-label="Print Worksheet"
                                class="text-center cursor-pointer">
                                <a (click)="printWorkSheet(p)">
                                    <i class="fa-solid fa-print"></i>
                                </a>
                            </td>
                            <td *ngIf="role == 'Coordinator' || role == 'Embryologist'" data-label="Print Lable"
                                class="text-center cursor-pointer">
                                <a (click)="printLabels(p)">
                                    <i class="fa-solid fa-tags"></i>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="procedures().length === 0">
                            <td colspan="15" class="text-center">
                                No procedures found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </li>


</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #editForCoordinatorTemplate let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Procedure</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form #procedureForm="ngForm" novalidate>
        <div class="modal-body">
            <div class="row g-3 mt-3">
                <div class="col-md-12">
                    <label for="procedureType" class="form-label">Scheduled Date</label>
                    <input type="datetime-local" class="form-control" [(ngModel)]="procedureForEdit.scheduledDate"
                        name="scheduledDate">
                </div>
                <div class="col-md-12">
                    <div class="custom-block">
                        <div class="custom-label">Procedure Price</div>

                        <div class="custom-value">
                            {{ procedureForEdit.procedureType.price }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="custom-block">
                        <div for="paymentStatus" class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentStatus" value="Paid"
                                [(ngModel)]="procedureForEdit.paymentStatus" required />
                            <label class="custom-label">Paid</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentStatus" value="Unpaid"
                                [(ngModel)]="procedureForEdit.paymentStatus" required />
                            <label class="custom-label">Unpaid</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="procedureType" class="form-label">Notes</label>
                    <textarea class="form-control" [(ngModel)]="procedureForEdit.notes" name="notes"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-secondary" [disabled]="isUpdateProceDureDisabled()"
                (click)="updateProcedure('In Progress')">Submit</button>
        </div>
    </form>
</ng-template>

<ng-template #editForEmbryologistTemplate let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">{{procedureForEdit.procedureType.name}}</h6>
    </div>
    <form #procedureForm="ngForm" novalidate>
        <div class="modal-body full-screen" id="print-area">
            <app-dna-fragmentation-test [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'DNA Fragmentation Test'">
            </app-dna-fragmentation-test>

            <app-egg-freezing [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Egg Freezing'">
            </app-egg-freezing>

            <app-embryo-freezing [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Embryo Freezing'">
            </app-embryo-freezing>

            <app-oocyte-pick-up [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Oocyte Pick-Up (OPU)'">
            </app-oocyte-pick-up>

            <app-ovarian-tissue-cryopreservation [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Ovarian Tissue Cryopreservation'">
            </app-ovarian-tissue-cryopreservation>

            <app-retrograde-ejaculate-analysis [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Retrograde Ejaculate Analysis'">
            </app-retrograde-ejaculate-analysis>

            <app-semen-analysis [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Semen Analysis'">
            </app-semen-analysis>

            <app-semen-preparation-for-iui [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Semen Preparation for IUI'">
            </app-semen-preparation-for-iui>

            <app-sperm-freezing [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Sperm Freezing'">
            </app-sperm-freezing>

            <app-testicular-sperm-retrieval [procedure]="procedureForEdit"
                *ngIf="procedureForEdit.procedureType.name == 'Testicular Sperm Retrieval'">
            </app-testicular-sperm-retrieval>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-secondary" [disabled]="procedureForm.invalid"
                (click)="updateProcedure('Completed')">Submit</button>
            <button type="submit" class="btn btn-outline-secondary"
                (click)="updateProcedure('In Progress')">Save as Draft</button>
            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('close click')">Close</button>
        </div>
    </form>
</ng-template>

<ng-template #messageTemplate let-modal>
    <div class="modal-body message">
        <div class="row mt-3 text-center">
            <p>{{messageText}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('close click')">Close</button>
    </div>
</ng-template>

<div id="print-wrapper" class="print-wrapper"></div>