<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow-sm border-0 section-card">
            <div class="card-header blue-header">
                Patient Information
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name </label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="procedure.patient.name"
                            #name="ngModel" name="name" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="nationalId" class="form-label">National ID</label>
                        <input type="text" class="form-control" id="nationalId"
                            [(ngModel)]="procedure.patient.nationalId" #nationalId="ngModel" name="nationalId" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber"
                            [(ngModel)]="procedure.patient.phoneNumber" #phoneNumber="ngModel" name="phoneNumber"
                            disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="age" class="form-label">Age</label>
                        <input type="text" class="form-control" id="age" [(ngModel)]="procedure.patient.age"
                            #age="ngModel" name="age" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandName" class="form-label">Husband's Name</label>
                        <input type="text" class="form-control" id="husbandName"
                            [(ngModel)]="procedure.patient.husbandName" #husbandname="ngModel" name="husbandname"
                            disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandNationalId" class="form-label">Husband's ID</label>
                        <input type="text" class="form-control" id="husbandId"
                            [(ngModel)]="procedure.patient.husbandNationalId" #husbandNationalId="ngModel"
                            name="husbandNationalId" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="husbandPhoneNumber" class="form-label">Husband Phone Number</label>
                        <input type="text" class="form-control" id="husbandPhoneNumber"
                            [(ngModel)]="procedure.patient.husbandPhoneNumber" #husbandPhoneNumber="ngModel"
                            name="husbandPhoneNumber" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow-sm border-0 section-card">
            <div class="card-header blue-header">
                Physician & Embryologist Information
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="physician" class="form-label">Physician</label>
                        <input type="text" class="form-control" id="physician" [(ngModel)]="procedure.physician.name"
                            #physician="ngModel" name="physician" disabled>
                    </div>                    
                    <div class="col-md-6">
                        <label for="embryologist" class="form-label">Embryologist</label>
                        <input type="text" class="form-control" id="physician" [(ngModel)]="procedure.embryologist.name"
                            #embryologist="ngModel" name="embryologist" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white ">
        Freezing Details
      </div>
      <table class="table table-bordered align-middle mb-2">
        <tbody>
          <tr>
            <td class="pink-label">Total Eggs Frozen:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['totalEggsFrozen']" name="totalEggsFrozen"
                disabled>
            </td>

            <td class="pink-label -label">Dewar:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['dewar']" name="dewar" #dewar="ngModel"
                placeholder="Dewar ID">
            </td>
          </tr>

          <tr>
            <td class="pink-label -label">No. of Straws:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['numberOfStraws']" name="numberOfStraws"
                #numberOfStraws="ngModel">
            </td>

            <td class="pink-label -label">Straw Colors:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['strawColors']" name="strawColors"
                #strawColors="ngModel" placeholder="Colors">
            </td>
          </tr>

          <tr>
            <td class="pink-label -label">Cassette/Can No.:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['cassetteCanNo']" name="cassetteCanNo"
                #cassetteCanNo="ngModel" placeholder="Cassette ID">
            </td>

            <td class="pink-label -label">Canister No.:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['canisterNo']" name="canisterNo"
                #canisterNo="ngModel" placeholder="Canister">
            </td>
          </tr>
          <tr>
            <td class="green-label -label">Witness:</td>
            <td colspan="3">
              <select class="form-select" [(ngModel)]="procedure.values['freezingWitness']" name="freezingWitness"
                #freezingWitness="ngModel" [compareWith]="compareObjects">
                <option *ngFor="let p of embryologists()" [ngValue]="p">
                  {{ p.name }}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white d-flex justify-content-between align-items-center">
        <span>Oocyte Details</span>
        <div class="d-flex gap-2 no-print">
          <button type="button" class="btn btn-sm btn-light" (click)="addOocyteRow()">
            + Add
          </button>
        </div>
      </div>
      <table class="table table-bordered mb-0 align-middle">
        <thead class="table-light">
          <tr>
            <th>Stage</th>
            <th>Quality</th>
            <th width="60" class="no-print"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of procedure.values['oocyteRows']; let i = index">
            <td>
              <select class="form-select" [(ngModel)]="row.stage" [name]="'stage' + i" #stage="ngModel">
                
                <option value="GV">GV</option>
                <option value="MI">MI</option>
                <option value="MII">MII</option>
                <option value="Degenerated">Degenerated</option>
              </select>
            </td>
            <td>
              <select class="form-select" [(ngModel)]="row.quality" [name]="'quality' + i" #quality="ngModel">
                
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select>
            </td>
            <td class="text-center no-print">
              <button type="button" class="btn btn-sm btn-danger" (click)="removeOocyteRow(i)">x</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white d-flex justify-content-between align-items-center">
        <span>Thawing</span>
        <div class="d-flex gap-2 no-print">
          <button type="button" class="btn btn-sm btn-light" (click)="addThawingRow()">+ Add</button>
        </div>
      </div>
      <table class="table table-bordered align-middle text-center mb-0">
        <thead class="pink-thead">
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Time</th>
            <th>Straws</th>
            <th>Oocytes</th>
            <th>Survived</th>
            <th>Survival%</th>
            <th>Embryologist</th>
            <th>Witness</th>
            <th>Notes</th>
            <th width="60" class="no-print"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of procedure.values['thawingRows']; let i = index">
            <td>{{ i + 1 }}</td>

            <td>
              <input type="date" class="form-control" [(ngModel)]="row.date" [name]="'thawingDate' + i" #date="ngModel">
            </td>

            <td>
              <input type="time" class="form-control" [(ngModel)]="row.time" [name]="'thawingTime' + i" #time="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.straws" [name]="'thawingStraws' + i"
                #thawingStraws="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.oocytes" [name]="'thawingOocytes' + i"
                #thawingOocytes="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.survived" [name]="'survived' + i" #survived="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.survival" [name]="'survival' + i" #survival="ngModel">
            </td>

            <td>
              <select class="form-select" [(ngModel)]="row.embryologist" [name]="'thawingEmbryologist' + i"
                #thawingEmbryologist="ngModel" [compareWith]="compareObjects">
                <option *ngFor="let p of embryologists()" [ngValue]="p">
                  {{ p.name }}
                </option>
              </select>
            </td>

            <td>
              <select class="form-select" [(ngModel)]="row.witness" [name]="'thawingWitness' + i"
                #thawingWitness="ngModel" [compareWith]="compareObjects">
                <option *ngFor="let p of embryologists()" [ngValue]="p">
                  {{ p.name }}
                </option>
              </select>
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.notes" [name]="'thawingNotes' + i" placeholder="Notes">
            </td>

            <td class="text-center no-print">
              <button type="button" class="btn btn-sm btn-danger" (click)="removeThawingRow(i)">x</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white d-flex justify-content-between align-items-center">
        <span>Transfer</span>
        <div class="d-flex gap-2 no-print">
          <button type="button" class="btn btn-sm btn-light" (click)="addFertilizationRow()">+ Add</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered align-middle text-center mb-0">
          <thead class="pink-thead">
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Time</th>
              <th>Oocytes Used</th>
              <th>Fert Method</th>
              <th>2PN Formed</th>
              <th>Embryos</th>
              <th>Embryologist</th>
              <th>Witness</th>
              <th>Notes</th>
              <th width="60" class="no-print"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of procedure.values['fertilizationRows']; let i = index">
              <td>{{ i + 1 }}</td>

              <td>
                <input type="date" class="form-control" [(ngModel)]="row.date" [name]="'fertDate' + i" #date="ngModel">
              </td>

              <td>
                <input type="time" class="form-control" [(ngModel)]="row.time" [name]="'fertTime' + i" #time="ngModel">
              </td>

              <td>
                <input class="form-control" [(ngModel)]="row.oocytesUsed" [name]="'oocytesUsed' + i"
                  #oocytesUsed="ngModel">
              </td>

              <td>
                <select class="form-select" [(ngModel)]="row.fertMethod" [name]="'fertMethod' + i"
                  #fertMethod="ngModel">
                  <option value="ICSI">ICSI</option>
                  <option value="IVF">IVF</option>
                </select>
              </td>

              <td>
                <input class="form-control" [(ngModel)]="row.twoPnFormed" [name]="'twoPnFormed' + i"
                  #twoPnFormed="ngModel">
              </td>

              <td>
                <input class="form-control" [(ngModel)]="row.embryos" [name]="'embryos' + i" #embryos="ngModel">
              </td>

              <td>
                <select class="form-select" [(ngModel)]="row.embryologist" [name]="'fertEmbryologist' + i"
                  #fertEmbryologist="ngModel" [compareWith]="compareObjects">
                  <option *ngFor="let p of embryologists()" [ngValue]="p">
                    {{ p.name }}
                  </option>
                </select>
              </td>

              <td>
                <select class="form-select" [(ngModel)]="row.witness" [name]="'fertWitness' + i" #fertWitness="ngModel"
                  [compareWith]="compareObjects">
                  <option *ngFor="let p of embryologists()" [ngValue]="p">
                    {{ p.name }}
                  </option>
                </select>
              </td>

              <td>
                <input class="form-control" [(ngModel)]="row.notes" [name]="'fertNotes' + i" placeholder="Notes">
              </td>

              <td class="text-center no-print">
                <button type="button" class="btn btn-sm btn-danger no-print"
                  (click)="removeFertilizationRow(i)">x</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>