<div class="row mt-3">
  <div class="col-12">
    <div class="card shadow-sm border-0 section-card">
      <div class="card-header blue-header">
        Patient Information
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Name </label>
            <input type="text" class="form-control" id="name" [(ngModel)]="procedure.patient.name" #name="ngModel"
              name="name" disabled>
          </div>
          <div class="col-md-6">
            <label for="nationalId" class="form-label">National ID</label>
            <input type="text" class="form-control" id="nationalId" [(ngModel)]="procedure.patient.nationalId"
              #nationalId="ngModel" name="nationalId" disabled>
          </div>
          <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="procedure.patient.phoneNumber"
              #phoneNumber="ngModel" name="phoneNumber" disabled>
          </div>
          <div class="col-md-6">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" id="age" [(ngModel)]="procedure.patient.age" #age="ngModel"
              name="age" disabled>
          </div>
          <div class="col-md-6">
            <label for="husbandName" class="form-label">Husband's Name</label>
            <input type="text" class="form-control" id="husbandName" [(ngModel)]="procedure.patient.husbandName"
              #husbandname="ngModel" name="husbandname" disabled>
          </div>
          <div class="col-md-6">
            <label for="husbandNationalId" class="form-label">Husband's ID</label>
            <input type="text" class="form-control" id="husbandId" [(ngModel)]="procedure.patient.husbandNationalId"
              #husbandNationalId="ngModel" name="husbandNationalId" disabled>
          </div>
          <div class="col-md-6">
            <label for="husbandPhoneNumber" class="form-label">Husband Phone Number</label>
            <input type="text" class="form-control" id="husbandPhoneNumber"
              [(ngModel)]="procedure.patient.husbandPhoneNumber" #husbandPhoneNumber="ngModel" name="husbandPhoneNumber"
              disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="card shadow-sm border-0 section-card">
      <div class="card-header blue-header">
        Physician & Embryologist Information
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="physician" class="form-label">Physician</label>
            <input type="text" class="form-control" id="physician" [(ngModel)]="procedure.physician.name"
              #physician="ngModel" name="physician" disabled>
          </div>
          <div class="col-md-6">
            <label for="embryologist" class="form-label">Embryologist</label>
            <input type="text" class="form-control" id="physician" [(ngModel)]="procedure.embryologist.name"
              #embryologist="ngModel" name="embryologist" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white ">
        Freezing Details
      </div>

      <table class="table table-bordered align-middle mb-3">
        <tbody>
          <tr>
            <td class="green-label">No. Of Embryos:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['numberOfEmbryos']" name="numberOfEmbryos"
                disabled>
            </td>

            <td class="green-label -label">Dewar:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['dewar']" name="dewar" #dewar="ngModel">
            </td>
          </tr>

          <tr>
            <td class="green-label -label">No. Of Straws:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['numberOfStraws']" name="numberOfStraws"
                #numberOfStraws="ngModel">
            </td>

            <td class="green-label -label">Straw Colors:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['strawColors']" name="strawColors"
                #strawColors="ngModel">
            </td>
          </tr>

          <tr>
            <td class="green-label -label">Cassette/Cane No.:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['cassetteCanNo']" name="cassetteCanNo"
                #cassetteCanNo="ngModel">
            </td>

            <td class="green-label -label">Canister No.:</td>
            <td>
              <input class="form-control" [(ngModel)]="procedure.values['canisterNo']" name="canisterNo"
                #canisterNo="ngModel">
            </td>
          </tr>

          <tr>
            <td class="green-label -label">Witness:</td>
            <td colspan="3">
              <select class="form-select" [(ngModel)]="procedure.values['freezingWitness']" name="freezingWitness"
                #freezingWitness="ngModel" [compareWith]="compareObjects">
                <option *ngFor="let p of embryologists()" [ngValue]="p">
                  {{ p.name }}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white d-flex justify-content-between align-items-center">
        <span>Embryo Details</span>
        <div class="d-flex gap-2 no-print">
          <button type="button" class="btn btn-sm btn-light" (click)="addEmbryoRow()">+ Add</button>
        </div>
      </div>

      <table class="table table-bordered mb-0 align-middle">
        <thead class="table-light">
          <tr>
            <th>Stage</th>
            <th>Quality</th>
            <th width="60" class="no-print"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of procedure.values['embryoRows']; let i = index">
            <td>
              <select class="form-select" [(ngModel)]="row.stage" [name]="'stage' + i" #stage="ngModel">

                <option value="">Select</option>
                <option value="GV">GV</option>
                <option value="MI">MI</option>
                <option value="MII">MII</option>
                <option value="Degenerated">Degenerated</option>
              </select>
            </td>

            <td>
              <select class="form-select" [(ngModel)]="row.quality" [name]="'quality' + i" #quality="ngModel">

                <option value="">Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select>
            </td>

            <td class="text-center no-print">
              <button type="button" class="btn btn-sm btn-danger" (click)="removeEmbryoRow(i)">x</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white d-flex justify-content-between align-items-center">
        <span>Thawing</span>
        <div class="d-flex gap-2 no-print">
          <button type="button" class="btn btn-sm btn-light" (click)="addEmbryoThawingRow()">+ Add</button>
        </div>
      </div>

      <table class="table table-bordered align-middle text-center mb-0">
        <thead class="green-thead">
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Time</th>
            <th>Straws Thawed</th>
            <th>Embryos</th>
            <th>Survived</th>
            <th>Remaining</th>
            <th>Straws</th>
            <th>Embryologist</th>
            <th>Witness</th>
            <th>Notes</th>
            <th width="60" class="no-print"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of procedure.values['embryoThawingRows']; let i = index">
            <td>{{ i + 1 }}</td>

            <td>
              <input type="date" class="form-control" [(ngModel)]="row.date" [name]="'embryoThawingDate' + i"
                #embryoThawingDate="ngModel">
            </td>

            <td>
              <input type="time" class="form-control" [(ngModel)]="row.time" [name]="'embryoThawingTime' + i"
                #embryoThawingTime="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.strawsThawed" [name]="'strawsThawed' + i"
                #strawsThawed="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.embryos" [name]="'thawingEmbryos' + i"
                #thawingEmbryos="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.survived" [name]="'survived' + i" #survived="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.remaining" [name]="'remaining' + i" #remaining="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.straws" [name]="'straws' + i" #straws="ngModel">
            </td>

            <td>
              <select class="form-select" [(ngModel)]="row.embryologist" [name]="'thawingEmbryologist' + i"
                #thawingEmbryologist="ngModel" [compareWith]="compareObjects">
                <option *ngFor="let p of embryologists()" [ngValue]="p">
                  {{ p.name }}
                </option>
              </select>
            </td>

            <td>
              <select class="form-select" [(ngModel)]="row.witness" [name]="'thawingWitness' + i"
                #thawingWitness="ngModel" [compareWith]="compareObjects">
                <option *ngFor="let p of embryologists()" [ngValue]="p">
                  {{ p.name }}
                </option>
              </select>
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.notes" [name]="'thawingComments' + i" placeholder="Notes">
            </td>

            <td class="text-center no-print">
              <button type="button" class="btn btn-sm btn-danger" (click)="removeEmbryoThawingRow(i)">
                x
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-sm border-0">
      <div class="card-header text-white d-flex justify-content-between align-items-center">
        <span>Transfer</span>
        <div class="d-flex gap-2 no-print">
          <button type="button" class="btn btn-sm btn-light" (click)="addEmbryoTransferRow()">+ Add</button>
        </div>
      </div>

      <table class="table table-bordered align-middle text-center mb-0">
        <thead class="green-thead">
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Time</th>
            <th>Catheter</th>
            <th>Embryos</th>
            <th>Status</th>
            <th>Difficulties</th>
            <th>Embryologist</th>
            <th>Witness</th>
            <th>Notes</th>
            <th width="60" class="no-print"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of procedure.values['embryoTransferRows']; let i = index">
            <td>{{ i + 1 }}</td>

            <td>
              <input type="date" class="form-control" [(ngModel)]="row.date" [name]="'embryoTransferDate' + i"
                #embryoTransferDate="ngModel">
            </td>

            <td>
              <input type="time" class="form-control" [(ngModel)]="row.time" [name]="'embryoTransferTime' + i"
                #embryoTransferTime="ngModel">
            </td>

            <td>
              <select class="form-select" [(ngModel)]="row.catheter" [name]="'catheter' + i" #catheter="ngModel">
                <option>COOK</option>
                <option>WALLACE</option>
                <option>OTHER</option>
              </select>
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.embryos" [name]="'transferEmbryos' + i"
                #transferEmbryos="ngModel">
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.status" [name]="'status' + i" #status="ngModel">
            </td>

            <td>
              <textarea class="form-control" rows="2" [(ngModel)]="row.difficulties"
                [name]="'difficulties' + i"></textarea>
            </td>

            <td>
              <select class="form-select" [(ngModel)]="row.embryologist" [name]="'transferEmbryologist' + i"
                #transferEmbryologist="ngModel" [compareWith]="compareObjects">
                <option *ngFor="let p of embryologists()" [ngValue]="p">
                  {{ p.name }}
                </option>
              </select>
            </td>

            <td>
              <select class="form-select" [(ngModel)]="row.witness" [name]="'transferWitness' + i"
                #transferWitness="ngModel" [compareWith]="compareObjects">
                <option *ngFor="let p of embryologists()" [ngValue]="p">
                  {{ p.name }}
                </option>
              </select>
            </td>

            <td>
              <input class="form-control" [(ngModel)]="row.notes" [name]="'transferComments' + i" placeholder="Notes">
            </td>

            <td class="text-center no-print">
              <button type="button" class="btn btn-sm btn-danger no-print" (click)="removeEmbryoTransferRow(i)">
                x
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>